.header
    {
        height: 90px;
        background-color: gray; /* For browsers that do not support gradients */
        background-image: linear-gradient(to right, white, #F6F2F2);
        text-align: center;
    }

.logotipo{
   top: 30px; 
}

.menu{
  max-width: 25px;
  margin-top: 20px;
  transform: translate(-400px, 15px);
  cursor: pointer;
}

@media (min-width: 320px) and (max-width: 1023px){
 .header{
   width:auto;
   text-align: center;
   top:0.5em;
 }
  .logotipo{
    align-items: center;
  }

  .menu{
    display: none;
  }
}