<div class="container-fluid">
    <div class="row">
        <div class="col-12 menu">
            <p>Saga Falabella</p>
            <p>Viajes Falabella</p>
            <p>Seguros Falabella</p>
            <p>Sodimac</p>
            <p>Tottus</p>
            <p>Maestro</p>
             <div class="icono">
                <mat-icon >more_vert</mat-icon>
            </div>
        </div>
        <div class="col-12 header">
            <img src="../../../assets/image/logo-banco-falabella.png" class="logotipo mt-3">
        </div>
    </div>
</div>